.signUppage{
    border-radius: 12px;
    width: 150vh;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    background: rgba(74, 138, 194, 0.138);
    box-shadow: 0 0 10px #3b7a412d;
    padding: 12px;
    margin: 12px;
    color: rgb(74, 138, 194)
}

.signUppage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}
.signUpForm{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
}
.signUpForm input{
    padding: 12px;
    width: 70vh;
    height: 34px;
    border-radius: 12px;
    border: 0px;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Ajustez l'espacement selon vos besoins */
  }
  
  .toggle-button {
    background-color: #007BFF; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer les bordures par défaut */
    padding: 10px 20px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Curseur de pointeur */
    margin-bottom: 10px; /* Espacement en bas pour séparer les boutons */
  }
  
  .toggle-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }
  
  .toggle-button:active {
    background-color: #004494; /* Couleur de fond lors du clic */
  }
  


  