
<div class="container">
  <img src="../../assets/images/contact_new.png" alt="">

  <router-outlet></router-outlet>



<!--<router-outlet></router-outlet>-->
<!-- <app-index></app-index> -->

  <!--<app-login></app-login>-->

<!-- <div class="container"> -->



<!--   <router-outlet></router-outlet> 
  <app-login></app-login>
</div>



<!--<router-outlet></router-outlet>-->

<!-- app.component.html -->
<div class="app-container">
  <nav>
    <a routerLink="/">Contacts</a>
    <a routerLink="/add-contact">Ajouter Contact</a>

  </nav>
  

  <router-outlet></router-outlet>
</div>








