
.container{
    display: flex;
    margin-top:8vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}
.container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:rgb(74, 138, 194)
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
  }
  
  nav a.active {
    font-weight: bold;
    color: #0056b3;
  }
  

